* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5dcc7;
    animation-name: todo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.caja {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.nav1 {
    background-color: #cbba8e;
}

.nav2 {
    background-color: #8ecb9b;
}

.nav3 {
    background-color: #8e9fcb;
}

.nav4 {
    background-color: #cb8ebd;
}

.nav1:hover {
    flex-grow: 3;
}

.nav2:hover {
    flex-grow: 3;
}

.nav3:hover {
    flex-grow: 3;
}

.nav4:hover {
    flex-grow: 3;
}

.caja h2 {
    position: relative;
    font-family: caveat;
    font-size: 2vw;
}

.imagen {
    width: 98.5vw;
    height: 42vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagen img {
    position:relative;
    height: 25vw;
}

.imagen h1 {
    font-family: Qwitcher Grypen;
    font-size: 6.3vw;
    color: #3d2c29;
}

.imagen_div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen .barras{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    width: 100%;
    height: 100%;
}

.barras img {
    position: absolute;
    transform: rotateZ(-90deg) translateX(4vw);
    width: 45vw;
    height: 55vw;
}

.barras .cien {
    animation-name: barrita1;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-fill-mode: both;
}

.barras .setenta {
    animation-name: barrita1;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-fill-mode: both;
}

.barras .veinte {
    animation-name: barrita1;
    animation-duration: 1s;
    animation-delay: 10s;
    animation-fill-mode: both;
}

.imagen_div #yum {
    position: absolute;
    width: 600px;
    height: 500px;
    animation-name: yum;
    animation-delay: 12s;
    animation-duration: 6.2s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.video {
    display: flex;
    justify-content: center;
}

.video div iframe {
    width: 50vw;
    height: 70vh;
}

.producto {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.producto div {
    border: #3d2c29 double 10px;
    box-sizing: content-box;
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto div img {
    width: 13vw;
}

.producto div h3 {
    font-family: cinzel;
    font-size: 20px;
    margin: 5vh 0 2vh 0;
    text-align: center;
}

.producto div h4 {
    margin-bottom: 3vh;
    font-size: 18px;
}

.producto div p {
    text-align: center;
    font-size: 16px;
}

.equipo {
    margin: 20vh 0 20vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equipo_persona {
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: space-around;
}

.equipo_persona_img:hover {
    visibility: collapse;
}

.equipo_persona img {
    width: 20vw;
    border-radius: 500px;
}

.contacto {
    display: flex;
    justify-content: space-between;
}

.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 470px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}
@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}
@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

@keyframes todo {
    from {
        position: relative;
        transform: translateY(-100px);
        opacity: 0%;
    }

    to {
        transform: translateY(inherit);
        opacity: 100%;
    }
}

@keyframes barrita1 {
    0% {
        opacity: inherit;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes yum {
    0% {
        transform: rotateZ(-45deg);
        opacity: 0;
    }

    50% {
        transform: rotateZ(360deg);
        opacity: 50%;
    }

    100% {
        transform: rotateZ(360deg);
        opacity: 0; 
    }
}